[submodule "MicroPython_BUILD/components/micropython/lib/modcryptocurrency"]
	path = MicroPython_BUILD/components/micropython/lib/modcryptocurrency
	url = https://github.com/Coldcard/modcryptocurrency.git
[submodule "MicroPython_BUILD/components/micropython/lib/trezor-crypto"]
	path = MicroPython_BUILD/components/micropython/lib/trezor-crypto
	url = https://github.com/justinmoon/trezor-crypto.git
